body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: gray;
   
}

#contact-list-container ul{
    padding: 0;
    list-style: none;
}

.contact{
    padding: 3px 10px;
    border: 1px solid white;
    background-color: #6f92f9;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: white;
    display: flex;
    width: 380px;
    margin: auto;
}

.contact:hover{
    background-color: gray;
}

.details{
    text-align: center;
    margin: auto;
}

.contact .details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.contact .delete-button{
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 3px;
}

.contact .delete-button a{
   color: white;
   background-color: red;
}

.contact p{
    margin: 5px 0;
}

#new-contact-form
{
    text-decoration:teal;
    width: 90%;
    margin: auto;
}

.input-form
{
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  margin: auto;
  width: 180px;
}

.input-form:focus
{
border-color: green
}
#add-button{
    background-color: lightgray
}

#add-button:hover
{
    background-color: lightgreen;
}
